body{
    margin:40px;
}
.grid-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-gap:38px;
    grid-auto-rows: minmax(263px, 566px);
    justify-content: center;
    height: 100vh;
}
.grid-item{
    background-color: #D9D9D9;
}

.grid-item-1
{
    grid-row: span 2;
}

.grid-item-6{
    grid-column: 1/1;
}

.grid-item-7{
    position:relative;
    grid-column: 2/-1;
}
.grid-item > img{
    height:100%;
    width:100%;
    z-index: 10;
}
span{
    font-size: 50px;
    position:absolute;
    right:0px;
    bottom:0px;
    z-index: 100;
    color:wheat;
    
}